*.png
*.map
*.md5
*.pdf
*.html
*.js
*.xcscheme
*.plist
*.xcbkptlist
*.css
*.xcsettings
*.xcworkspacedata
*.xcuserstate
*.pbxproj
pes.lex.cc
pes.tab.cc
pes.tab.hh
timesolver-ta
pes.timed/TimeSolver.config
pes.timed/TimeSolver.creator
pes.timed/TimeSolver.creator.user
pes.timed/TimeSolver.files
pes.timed/TimeSolver.includes
pes.timed/test/dbmlisttest
pes.timed/test/dbmtest
pes.timed/test/gtest_main.a
pes.timed/timesolver-ta.config
pes.timed/timesolver-ta.creator
pes.timed/timesolver-ta.creator.user
pes.timed/timesolver-ta.files
pes.timed/timesolver-ta.includes
notes.log
pes.timed/location.hh
pes.timed/pes.lex.hh
pes.timed/position.hh
pes.timed/stack.hh
parsetest
prooftest
