*.png
*.map
*.md5
*.pdf
*.html
*.js
*.xcscheme
*.plist
*.xcbkptlist
*.css
*.xcsettings
*.xcworkspacedata
*.xcuserstate
*.pbxproj
pes.lex.cc
pes.tab.cc
pes.tab.hh
timesolver-ta
pes.timed/TimeSolver.config
pes.timed/TimeSolver.creator
pes.timed/TimeSolver.creator.user
pes.timed/TimeSolver.files
pes.timed/TimeSolver.includes
pes.timed/test/dbmlisttest
pes.timed/test/dbmtest
pes.timed/test/gtest_main.a
pes.timed/timesolver-ta.config
pes.timed/timesolver-ta.creator
pes.timed/timesolver-ta.creator.user
pes.timed/timesolver-ta.files
pes.timed/timesolver-ta.includes
notes.log
pes.timed/location.hh
pes.timed/pes.lex.hh
pes.timed/position.hh
pes.timed/stack.hh
parsetest
prooftest
CMakeFiles
googletest-download
googletest-build
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeLists.txt.user
CTestTestfile.cmake
gmock.pc
gmock_main.pc
gtest.pc
gtest_main.pc
Makefile
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
Testing/Temporary/LastTestsFailed.log
pes.timed/test/dbmlisttest[1]_include.cmake
pes.timed/test/dbmtest[1]_include.cmake
pes.timed/test/parsetest[1]_include.cmake
pes.timed/test/prooftest[1]_include.cmake
Doxyfile.doxygen
doc/notes.aux
doc/notes.bbl
doc/notes.blg
doc/notes.fdb_latexmk
doc/notes.fls
doc/notes.synctex.gz
